Zod plugin

### Description

Currently openapi-ts generates typescript definitions for the OpenAPI schema. Would it be possible to generate zod schemas also? Something similar like these libraries: https://github.com/astahmer/openapi-zod-client and https://github.com/astahmer/typed-openapi

Sure would! Let's keep this issue open to gauge the interest and will prioritise accordingly 

We sort of go the other way -- we use [fastify-type-provider-zod](https://github.com/turkerdev/fastify-type-provider-zod) as the backbone to generate the OpenAPI schema. But I see a use case where you would want to generate the zod validators from the OpenAPI schema if you build one by hand, and then import those into a UI package for integration into something like `react-hook-form` and its zod validation provider

> We sort of go the other way -- we use [fastify-type-provider-zod](https://github.com/turkerdev/fastify-type-provider-zod) as the backbone to generate the OpenAPI schema. But I see a use case where you would want to generate the zod validators from the OpenAPI schema if you build one by hand, and then import those into a UI package for integration into something like `react-hook-form` and its zod validation provider

Correct. The situation I find myself is a non-js backend which generates OpenAPI schema and it would be nice to be able to get not only type definitions of the OpenAPI schema but also zod schemas

I agree, it would be super helpful to have the zod schemas generated for scenarios with non-js backends.

For people wanting to generate Zod schemas, do you need 1:1 schema matching the endpoint, so you can use it to validate request/response? Which one of those is higher priority?

@mrlubos In our case we'd like to validate server response to be sure that it complies with the schema that was provided.

Out of curiosity, when may this feature be available if you start working on it? Any ETAs so we can understand whether we need to go with any custom solution?

@vyacheslav-korneev Definitely go with custom, I don't do ETAs for now

love to see this in next release, excellent work dear @mrlubos 👏 👏 👏 

Hey I said nothing about next release, don't try to bully me into shipping it that fast @1saifj 🤣 Would be good to collect some information first. I assume people here are already using other packages for generating Zod schemas such as those linked above. Why are those not sufficient/what benefit would you gain by having Hey API generate Zod schemas?

@mrlubos idk i just love all in one stuffs xD


We will get there my friend, it's just a question of priorities and what can have the biggest impact

@mrlubos Thanks for the question. I guess for my personal case, for starters it would be most beneficial to have schemas for all the OpenAPI resources/entities. E.g.

For resource/entity `User` there would also be a zod schema generated.

Also, I noticed that currently this library actually generates JSON Schema of what I just mentioned. I might first try to use some tool to convert those JSON schemas to zod schemas first 🤔

After that, it would be nice to have zod schemas for each endpoint payload and response, but that is probably secondary for now 

Would be incredible to be able to generate a react query client that uses fetch API, with request/responses validated with zod from an openapi spec

@jasonlor I agree. Out of curiosity, why do you need to validate both? Do you not trust the API to uphold the OpenAPI contract?

@mrlubos Ah the intent is to help out with overall productivity. I have two developers who are working with each other (server/client) and sometimes encounters issues due to incorrectly formed requests or missing objects on the response side. 

This would help enforce the interface and help streamline any unintended errors that might be present.
Other benefits w/ react query would be from Tkdodo regarding type inference:
- https://tkdodo.eu/blog/type-safe-react-query

Here's some existing work that I dove into this morning that could be helpful to reference – 
https://github.com/mattpocock/zod-fetch

For now I'll be generating the zod schemas from the `types.gen.ts` file using https://github.com/fabien0102/ts-to-zod
And the manually defining the hooks with the recently released react-query plugin 


Just wanted to throw another use case in the pool. I have a Python backend that generates an OpenAPI schema. I would love to:
- Generate a client
- Generate Tanstack Query keys/functions
- Generate Zod schema's so I can use them in things like react-hook-form validation.

There's a case for I shouldn't couple input form validation with backend model definitions but sometimes it makes things easier. Zod isn't a requirement - I just want my models with validation rules available and zod is pretty good.

> For people wanting to generate Zod schemas, do you need 1:1 schema matching the endpoint, so you can use it to validate request/response? Which one of those is higher priority?

That would definitely help as the AWS Powertools uses Zod for parsing events https://docs.powertools.aws.dev/lambda/typescript/latest/utilities/parser/#built-in-schemas

Hey all, I haven't forgotten about you! Had to ship the [experimental parser](https://heyapi.dev/openapi-ts/configuration.html#parser) first, now full steam ahead on the Zod plugin (see [WIP output](https://github.com/hey-api/openapi-ts/blob/main/packages/openapi-ts/test/__snapshots__/3.1.x/plugins/zod/default/zod.gen.ts)). This plugin will be exclusive to the experimental parser, just like the recently released [Fastify plugin](https://heyapi.dev/openapi-ts/fastify.html). Thanks for your patience!

Phenomenal, @mrlubos. Thank you for your work!

> For people wanting to generate Zod schemas, do you need 1:1 schema matching the endpoint, so you can use it to validate request/response? Which one of those is higher priority?

In my case, I used zod to validate request body from user input, with lib like React hook form

Still a ton of work to do, but why not make it available to you today?! Feedback is always good. For now it handles only reusable components, and even those are not fully done yet, see https://github.com/hey-api/openapi-ts/blob/main/packages/openapi-ts/test/__snapshots__/3.1.x/plugins/zod/default/zod.gen.ts

Nonetheless, you can now enable Zod by adding `'zod'` to your plugins. Of course, more changes will be done before it's considered ready https://heyapi.dev/openapi-ts/zod.html

Added list of remaining tasks as of now https://github.com/hey-api/openapi-ts/issues/1320 🏃 

This is very cool and I'm excited for when it'll be ready! 🔥
Thanks for saving us time and making this stuff easy. ❤️

I get the following as soon as I add zod to the plugins array 🤷🏼‍♂️

```
Maximum call stack size exceeded.
RangeError: Maximum call stack size exceeded.
```

@EricDotSmith what's your OpenAPI spec?

> [@EricDotSmith](https://github.com/EricDotSmith) what's your OpenAPI spec?

  "openapi": "3.0.0",

@EricDotSmith I'll need at least the relevant portion of the spec to recreate the issue if you want me to have a look!

@mrlubos Love this! I have run into a bug when parsing a regex:

Pydantic Schema
```py
class Customer(BaseSchema):
    first_name: str
    last_name: str
    email: EmailStr
    phone: str = Field(pattern=r"^\d{3}[\s-]?\d{3}[\s-]?\d{4}$")
    notes: str | None = None
```

Autogenerated
```ts
export const zCustomer = z.object({
    first_name: z.string(),
    last_name: z.string(),
    email: z.string().email(),
    phone: z.string().regex(/^\\d{3}[\\s-]?\\d{3}[\\s-]?\\d{4}$/),
    notes: z.union([
        z.string(),
        z.null()
    ]).optional()
});
```

I found two ways that it works with `react-hook-form`:
```ts
    phone: z.string().regex(/^\d{3}[\s-]?\d{3}[\s-]?\d{4}$/),
```
or
```ts
    phone: z.string().regex(new RegExp("/^\\d{3}[\\s-]?\\d{3}[\\s-]?\\d{4}$/")),
```

Pretty sure this is a simple fix, but I did not test outside of `react-hook-form`.

Thank you for your work.

I have an unexpected behavior when i have some number field with positive validation :
`page: z.number().positive().int()`

In my openapi.json :
`"page": {
      "type": "integer",
      "exclusiveMinimum": true,
      "minimum":  0
},
`
the result in zod.gen.ts is :
`page: z.number().int().gt(true)`

which raises an error :
`Argument of type 'boolean' is not assignable to parameter of type 'number'.ts(2345)`

thanks in advance

@mrlubos - finally getting around to changing ts-to-zod over to your plugin. I'm curious why you went with `z.enum` vs using `z.nativeEnum` and using the exported enums?

OpenAPI Schema:
```
      "SearchScoreWorkflowState": {
        "type": "string",
        "enum": [
          "pending",
          "queued",
          "running",
          "success",
          "failure"
        ],
        "title": "SearchScoreWorkflowState"
      },
```

zod.gen.ts
```
export const zSearchScoreWorkflowState = z.enum([
	'pending',
	'queued',
	'running',
	'success',
	'failure',
])
```

types.gen.ts:
```
export enum SearchScoreWorkflowState {
	PENDING = 'pending',
	QUEUED = 'queued',
	RUNNING = 'running',
	SUCCESS = 'success',
	FAILURE = 'failure',
}
```

If you used `z.nativeEnum(SearchScoreWorkflowState)` I wouldn't run into this in typescript:
```
Type '"pending" | "queued" | "running" | "success" | "failure"' is not assignable to type 'SearchScoreWorkflowState'.
  Type '"pending"' is not assignable to type 'SearchScoreWorkflowState'.
```

@sberryman-mh wish I would remember. Do you think native enum should be the default? I'm pretty sure it wouldn't be possible to use if one is inlining their enums in types, right? We could still fallback to enum there, just wanting to clarify the behaviour and edge cases

@mrlubos - Good point, considering how long you've had this plugin out I wouldn't change any of the defaults. Maybe an option to `useNativeEnum` in the config? 

Maybe inlining is the default for enums for most people? As much as I like enums I really hate working with them across languages!

Good morning,

I have been using the zod plugin with the validator for `@hey-api/sdk` for a few days so far and overall it is great, nice work! However I noticed two smaller issues when paired with

- OpenAPI 3.0.1 spec
- A Spring Boot Backend implementing this spec
- `@hey-api/client-axios`

---

**Issue 1: HTTP 204 - No Content responses**

When I have an endpoint that returns `204 No Content` defined in the API as
```yaml
  /do-stuff:
    post:
      operationId: doStuff
      tags:
        - stuff
      requestBody:
          # omitted
      responses:
        '204':
          description: The stuff was done
        '400':
          description: The request body was invalid
        # ...
```

this generates a zod schema `export const zDoStuffResponse = z.void();`

This schema however fails validation, as axios in its default config returns an empty `string` when receiving the `204` response. And an empty string fails the `void` validation.

My workaround here for now was to just add a `transformResponse` function to axios:

```typescript
const twohundredFourTransformer = (
  data: unknown,
  _: AxiosResponseHeaders,
  status: number | undefined,
) => {
  // this is needed because validators expects a z.void() for 204 responses, but axios returns an empty string
  if (status === 204) {
    return undefined;
  }
  return data;
};
```

but a nicer solution would be to generate a schema that can handle empty strings there by default.

---

**Issue 2: Datetime validators not allowing offset**

When having a schema with an object that contains a `date-time` string, the generated zod schema only outputs `z.string().datetime()`. This forbids time zone offsets, like `2025-04-24T09:10:00+02:00`.

However, according to the OpenAPI standard, `date-time` means a string formatted according to [RFC 3339, Section 5.6](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), which explicitly allows such offsets.

To make zod behave like expected, the correct schema would be `z.string().datetime({ offset: true })`

My workaround here was actually to write a custom plugin which takes the output from the zod plugin and searches and replaces the datetime schemas. Not the nicest solution, but also works fine.

---

Happy to discuss those points further and thanks a lot for the work put into this!



[Zod 4 is now stable](https://zod.dev/v4)! Hopefully this makes certain edge cases like [recursive objects](https://zod.dev/v4?id=recursive-objects) a little easier to work with

@dawsonbooth it makes everything 100x easier to work with!

Hi, I'm not sure if am doing something wrong, but I can't seem to get validation to actually happen. Currently I am generating an SDK with the axios client as follows:

```
import { createClient } from "@hey-api/openapi-ts";

createClient({
	input: "api/openapi.yaml",
	output: {
		path: "api/client",
		format: "prettier"
	},
	plugins: [
		"@hey-api/client-axios",
		"zod",
		{ name: "@hey-api/sdk", validator: true }
	]
});
```
And then I am using the SDK as follows:
```
try {
	const new_alerts = (await api.listAlerts({ throwOnError: true })).data;
} catch (e) {
	console.error(e);
}

```
However this is currently very happy to accept invalid server responses. Looking inside the generated SDK, I can see the validation code is generated, but the `responseValidator` seems to never be run. Am I doing something wrong here or is this perhaps a limitation with the axios client or something similar?

Ah okay, it seems my problem is related to: 

https://github.com/hey-api/openapi-ts/blob/33a417f8dd2db8781312bda3f4922553186e368e/packages/client-axios/src/client.ts#L72

If I instead call the SDK as `await api.listAlerts({ throwOnError: true, responseType: "json" })`, then validation does happen. This is a bit awkward though. I would have expected that if my response type is defined as `application/json` in my opanapi.yaml then this should be inferred.

@Gerharddc Are you able to share your spec? If not here can you email it to lubos@heyapi.dev?

> [@Gerharddc](https://github.com/Gerharddc) Are you able to share your spec? If not here can you email it to [lubos@heyapi.dev](mailto:lubos@heyapi.dev)?

Sure! Below is a reduced version of my spec showing the `listAlerts` function:

```
openapi: 3.0.3
info:
  title: My API
  version: 1.0.0
paths:
  /system/alerts:
    get:
      summary: List all system alerts.
      description: Provides a lit of warnings and errors pertaining to the current system state.
      operationId: listAlerts
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SystemAlert"
        "503":
          description: The instrument is currently busy with a blocking operation.

components:
  schemas:
    SystemAlert:
      required:
        - title
        - description
      type: object
      properties:
        title:
          type: string
          example: Channel Alarm
          description: Provides some information about the general nature of the alert.
        description:
          type: string
          example: Over-current protection active on channel 1.
          description: Provides more information about the specific nature of the alert.
```

Is it possible to get Zod to include descriptions? This is currently possible with https://github.com/astahmer/openapi-zod-client/ and would be lovely to have here too

Sure thing @Benjamin-Lee

@Benjamin-Lee you'll get descriptions in the next release :)

@Gerharddc Axios SDKs will include `responseType: 'json'` in the next release :)

> [@Gerharddc](https://github.com/Gerharddc) Axios SDKs will include `responseType: 'json'` in the next release :)

Great news, thanks!

Anyone wanting to generate Zod schemas for request bodies, can you explain why? I'd assume you already have some guardrails on the user side...

> Anyone wanting to generate Zod schemas for request bodies, can you explain why? I'd assume you already have some guardrails on the user side...

In my case, I used zod to validate request body from user input, with lib like React hook form

@hongfanmeng can you describe how are your users able to submit payloads that wouldn't conform to the endpoint payloads? Are you using the endpoint's request body (`requestBody` keyword in OpenAPI spec) as the form validation schema?

^ if yes, that would make total sense. Basically my question is, should these payloads be validated at the client level or are you only looking to import those schemas into your application?

This is my use case too. On May 28, 2025, at 1:38 PM, StevenH ***@***.***> wrote:﻿hongfanmeng left a comment (hey-api/openapi-ts#876)

Anyone wanting to generate Zod schemas for request bodies, can you explain why? I'd assume you already have some guardrails on the user side...

In my case, I used zod to validate request body from user input, with lib like React hook form

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

@Benjamin-Lee can you clarify which one of the two (or third) options I listed it is?

Option 1

Your SDKs would have a new field

```js
    return options.client.get<PullsListResponse, PullsListError, ThrowOnError>({
        requestValidator: () => {
            // new field
        },
        responseType: 'json',
        responseValidator: async (data) => {
            return await zPullsListResponse.parseAsync(data);
        },
        url: '/repos/{owner}/{repo}/pulls',
        ...options
    });
```

Option 2

Your Zod schemas would contain new schemas

```js
/**
 * New request body schema
 * You can use it however you want in your application
 */
export const zRequestBody = z.object({
    foo: z.string()
});
```

I’m using a third party API that doesn’t have an SDK, so I made one using this project. I want to use their types on the front end to validate forms, enforce typing by parsing when I pull the API responses out of my database (otherwise it would be untyped), and use the Zod schema to ensure that a different legacy API I can convert the main API is 100% type compatible. Also, I might use the Zod schema (with descriptions) as inputs to the AI SDK for tool calls. Hope that helps! Happy to explain in closer detail my use case. 

> [@Benjamin-Lee](https://github.com/Benjamin-Lee) can you clarify which one of the two (or third) options I listed it is?
> 
> Option 1
> 
> Your SDKs would have a new field
> 
>     return options.client.get<PullsListResponse, PullsListError, ThrowOnError>({
>         requestValidator: () => {
>             // new field
>         },
>         responseType: 'json',
>         responseValidator: async (data) => {
>             return await zPullsListResponse.parseAsync(data);
>         },
>         url: '/repos/{owner}/{repo}/pulls',
>         ...options
>     });
> Option 2
> 
> Your Zod schemas would contain new schemas
> 
> /**
>  * New request body schema
>  * You can use it however you want in your application
>  */
> export const zRequestBody = z.object({
>     foo: z.string()
> });



@Benjamin-Lee do you want to schedule a call to talk through it? https://calendly.com/lubos-heyapi/new-meeting

@mrlubos would it be possible to customise the responseValidator ? 
Currently it generates a :
````typescript
responseValidator: async (data) => {
  return await zXXXResponse.parseAsync(data);
},
````
but I want the request to succeed and just log it / show a notification in dev mode, but currently it is not possible, because [in the client](https://github.com/hey-api/openapi-ts/blob/ed7ec25c966c8050f9f984c6742c9f550e78b1e1/packages/client-axios/src/client.ts#L74), the request config is always applied, maybe the request could just transport the zod schema, 
````typescript
      responseType: 'json',
      schema: zXXXResponse,
      url: '/XXX',
````
and the client could be :
````typescript
if (opts.responseValidator) {
  await opts.responseValidator(data, schema);
}
````
and the default responseValidator could be :
````typescript
responseValidator: async (data, schema) => {
  return await schema.parseAsync(data);
},
````
so we could do
````typescript
responseValidator: async (data, schema) => {
  const result = await schema.safeParseAsync(data);
  console.log(result);
  notify(result);
},
````

@amarant moved this to https://github.com/hey-api/openapi-ts/issues/2104

> [@Benjamin-Lee](https://github.com/Benjamin-Lee) can you clarify which one of the two (or third) options I listed it is?
> 
> Option 1
> 
> Your SDKs would have a new field
> 
>     return options.client.get<PullsListResponse, PullsListError, ThrowOnError>({
>         requestValidator: () => {
>             // new field
>         },
>         responseType: 'json',
>         responseValidator: async (data) => {
>             return await zPullsListResponse.parseAsync(data);
>         },
>         url: '/repos/{owner}/{repo}/pulls',
>         ...options
>     });
> Option 2
> 
> Your Zod schemas would contain new schemas
> 
> /**
>  * New request body schema
>  * You can use it however you want in your application
>  */
> export const zRequestBody = z.object({
>     foo: z.string()
> });

¿Porque no los dos?

The zRequestBody schema should be used by default in the requestValidator, similar to how the responseValidator is implemented. I'm currently using hey-api to get as close to E2E type safety as possible, between a C# backend and a TS frontend. It's close! So far this and the lack of descriminatedUnion support in the zod plugin (separate issue, TS types aren't quite right either) are the only issues i've bumped into.

If E2E typesafety + zods is achieved, a lot of stuff suddenly flows naturally and you can essentially autogenerate a lot of CRUD stuff, data table filtering etc etc, directly from the types and zod schemas. It also significantly improves AI code generation, makes the generated code much better. ie. The generated schemas become the foundation for systematic code generation patterns rather than one-off implementations.

Happy to contribute to the implementation if needed.

Love this plugin, a few ideas:

- I would love to also have types included in the output (e.g. `type X = z.infer<typeof X>`). This seems a small addition, I am willing to submit a PR for that
- Also, would be nice if you can control the prefix (I personally don't like those "z" prefixes)
- A barrel file like the one that is included in the default output would be nice!

@dirkluijk hey, thanks!

1 - what's the use case? which naming pattern would you prefer? note that if you re-export from the barrel file, there might be a naming clash if your naming pattern isn't unique enough (hence that z prefix)
2 - yep, this is on my list, will open an issue to prioritise
3 - just add `exportFromIndex: true` to your plugin config 🙌 

I would stick to this naming pattern:
```ts
export type Foo = z.infer<typeof Foo>;
export const Foo = z.object({ /* ... */ });
```
This is also how Zod documented this: https://zod.dev/basics#inferring-types

There is no conflict here, since one is a runtime const, and the other is a compile-time type. The compiler infers which one to use depending on whether you're using the symbol as a type or rather as a value. That's why I don't think the z-prefix is really needed (unless there are other runtime const symbols in your output, of course - same applies for the types).

So for clarity, for suggestion 2 I was actually referring to being able to disable the prefix.

Yes. And exactly that's the issue RE conflicts. Are you using this package to generate only Zod schemas?

> And exactly that's the issue RE conflicts.

Sorry, tried to grasp what you meant with RE. Can you clarify? 

> Are you using this package to generate only Zod schemas?

Yes:

```ts
import { defineConfig } from "@hey-api/openapi-ts";

export default defineConfig({
    input: "./src/openapi.yaml",
    output: "./generated",
    plugins: ["zod"]
});
```


Ah, I just realized I can generate the default output (types) and the Zod schemas side-by-side by including `@hey-api/typescript`. My first impression was that plugins are always replacing the default output. That leaves my first suggestion as unneeded.

@dirkluijk purely for my own information, how are you using this package? Why don't you need SDKs?

We are using it to generate Zod schemas out of OpenAPI specs, to be used in our own (custom) REST clients.

Not sure what the term "SDK" means in the context of this project? Clients? I am not interested in the clients because we like to write our own ([Wretch](https://elbywan.github.io/wretch/)-based) clients.

I was using `astahmer/typed-openapi` before, but I like this project more because of the CLI, config, plugins, linting/formatting and configurability.

Thanks for the context! I'll add the naming customization option in the next release today or tomorrow. That should cover your asks I believe

Awesome, I love this project! Great work!

@dirkluijk got to polish it a bit more but if you want to play with the preview, you can download a release from https://github.com/hey-api/openapi-ts/pull/2201#issuecomment-2983449464

@dirkluijk this will be in v0.74.0, let me know if it works as you expected! 🤝 `zod.requests: '{{name}}Data'`, `zod.responses: '{{name}}Response'`, `zod.definitions: '{{name}}'` should be what you're looking for

Sounds amazing, will try it out asap!

@mrlubos I found a small issue. I tried:
```ts
definitions: {
  name: (name) => `${name.charAt(0).toUpperCase()}${name.slice(1)}`,
},
```
But it generates the definitions starting with a lower case letter. I would like to follow the Zod recommendation:
```ts
export type Foo = z.infer<typeof Foo>;
export const Foo = z.object({ /* ... */ });
```
but I am still unable to make that work ;)

@dirkluijk why not do this?

```js
{
  case: 'PascalCase',
  definitions: '{{name}}'
}
```

Sorry, it wasn't directly clear to me how to use these options properly. I tried it now, and it generates the expected definitions.

However, it does not support my use case. It gives an issue in the barrel file: 

```ts
export * from './types.gen';
export * from './zod.gen';
// ^ TS2308: Module './types.gen' has already exported a member named GetContentResponse. Consider explicitly re-exporting to resolve the ambiguity.
```

I also tried without a barrel, but this only moves the issue:

```ts
import type { GetContentResponse } from 'path/to/generated/types.gen';
import { GetContentResponse } from 'path/to/generated/zod.gen';
// ^ TS2300: Duplicate identifier GetContentResponse
```

So it seems the only way to make the Zod naming convention work, it by exporting the types from the same module (`zod.gen.ts`), which means this needs to be supported first, and would replace the usage of `@hey-api/typescript`.

This seems too much of a hassle, so I will stick to the default `z` prefixes for now.



Since v0.77.0 will introduce full request + response data validation, I consider the initial release for the Zod plugin done. I'm going to close this issue, please report any bugs, feature requests, ideas as new issues! 🙇

Zod 4 and Zod Mini coming to package registries near you soon 🍿